# Environment variables file example
# For import run: source <(sed -e /^$/d -e /^#/d -e 's/.*/declare -x "&"/g' env.example)

#EMAIL_TRANSPORT=email_server
#EMAIL_SERVER_ADDRESS="smtp.gmail.com"
#EMAIL_SERVER_PORT=465
#EMAIL_SERVER_USER=gmailusername
#EMAIL_SERVER_PASSWORD=gmailpassword
EMAIL_TRANSPORT=aws_ses
EMAIL_AWSSES_ACCESS_KEY=yyyyyyyyyyyyy
EMAIL_AWSSES_SECRET_KEY=zzzzzzzzzzzzz
EMAIL_AWSSES_REGION=us-west-2
EMAIL_AWSSES_SENDER=gmailusername@gmail.com
BACKEND_TYPE=ldap
LDAP_SERVER_ADDRESS=127.0.0.1
LDAP_SERVER_USER=cn=admin,dc=example,dc=com
LDAP_SERVER_PASSWORD=secret
LDAP_SERVER_PORT=389
LDAP_SERVER_SEARCH_RDN=dc=example,dc=com
